@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{font-family: 'Be Vietnam Pro', sans-serif;
box-sizing: border-box;}
/*colores utilizados para el estilo de la pagina  */
:root {
--rojoBrillante: rgb(242, 95, 58);
--azulOscuro: rgb(35, 44, 81);
--azulGrisáceoOscuro: rgb(143, 148, 167);
--azulMuyOscuro: rgb(29, 30, 37);
--rojoMuyPálido: rgb(255, 239, 234);
--varianteGrisClaro: rgb(249, 249, 249);
}


/*Seccion destinada al estilo del Body */
body {
background-image: url("../Entrega Final Front/IMG/bg-tablet-pattern.svg");
background-repeat: no-repeat;
background-position: 62.5rem -12.5rem ;
flex-wrap: wrap;
margin: 0;
padding: 0;

}
/* Estilos utilizados para el main*/
main{
background-image: url("../Entrega Final Front/IMG/bg-tablet-pattern.svg");
background-repeat: no-repeat;
background-position: -31.25rem 62.5rem ;
min-width: 18.125rem;
flex-wrap: wrap;

}

/* Estilos utilizados para el Header*/
header{
display: flex;
justify-content: space-between;
align-items: center;
min-width: 18.125rem;
margin-top: 4.69rem;
padding: 45px 145px;
flex-wrap: wrap;
width: 100%;
}
/* h1 utilizado para seccion principal del codigo*/
h1{
    width: 100%;
    font-weight: 700;
    font-size: 58px;
    line-height: 66px;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    color:  #232C50;
    margin: 0;
    }
    


/* Seccion de navegador*/
nav  ul{
display: flex;
list-style: none;
gap: 20px;
padding: 0px;
}
.burger{
    display: none;
}

nav  ul  li  a {
text-decoration: none;
color: var(--azulMuyOscuro);
font-weight: 500;
font-size: 0.81em;
justify-content: space-between;
}

.logo{
width: 9em;
height: 1.5em;
}

/* Boton universal naranja de get started*/
.orangebutton {
background-color: var(--rojoBrillante);
box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
width: 8.37em;
height: 2.75em;
border-radius: 3rem;
color: var(--varianteGrisClaro);
border: none;
}
/* Estilos para seccion 1 dimensiones, titulo y graficos*/
.seccion1{
display: flex;
justify-content: space-around;
margin: auto;
flex-wrap: wrap;
width: 90%;

}

.art1{
    width:30%;
    min-width: 310px; 
    margin: 3rem;
    display: flex;
    flex-direction: column;

    }

.art2{
  
    width: 30%; 
    min-width: 310px;
    margin: 1rem;
    }

    .art2 img {
        width:100%;
        min-width: 290px;
        display: flex;
            
        }
    .seccion1 p {
        font-weight: 500;
        font-size: 1.03rem;
        margin: 1rem 0px;
        line-height: 157.1%;
        width: 70%;
        
       
}
        

/* Estilos utilizados la seccion 2*/
.seccion2{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: auto;
width:75%;
}
.artBoxes{
    width: 30%;
    min-width: 375px;
    margin: 1rem;

}
.artBoxes2{
    width: 30%;
    min-width: 375px;
    margin: 1rem;
    
}
/*Clase universal para circulos naranja pequeños 01 02 03*/
.mini-orange {

    background-color: var(--rojoBrillante);
    width: 69px;
    height: 43px;
    border-radius: 1.875rem;
    color: var(--varianteGrisClaro);
    border: none;
    justify-content: center;
    text-align: center;
    padding-top: 0.5em;
    }

.seccion2 h2{
font-weight: 700;
font-size: 2.25rem;
color: var(--azulOscuro);
}
.seccion2 p{
color: var(--azulGrisáceoOscuro);
}

.whatDifferent{
margin-right: 6.0em;
}

.pBox{
padding-left: 6em;
color: var(--azulGrisáceoOscuro);
}

.box {
display:flex;
align-items: center;

}
/* Dimensiones para seccion 3 que contiene los testimonios y fotos de usuarios*/
.seccion3{
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 2rem





}
.seccion3 div{
display: flex;
flex-wrap: wrap;
width: 80%;
margin: 2rem auto;
justify-content: space-between;



}
.seccion3 h2{
text-align: center;
margin-bottom: 8rem;
}
.seccion3 .orangebutton{
    align-items: center;
}

.tarjetas{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: #FAFAFA;
margin: 5px;
width: 30%;
min-width: 290px;

}
.tarjetas img{
width: 70px;
height: 70px;
position: relative;
top: -35px
}
.tarjetas h2{
    margin: 0;

}



/* Se llama footer secundario a barra naranja sobre el footer*/
.footerSecundario{
display: flex;
flex-wrap: wrap;
background-color: var(--rojoBrillante);
justify-content:space-between;
align-items: center;    
}
.footerSecundario h2{
font-weight:700 ;
font-size:2rem ;
color: var(--varianteGrisClaro);
margin:28px;
margin-left: 10rem;
width: 25rem;


}
.whiteButton{

background-color:  #FFFFFF;
box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
width: 8.37em;
height: 2.75em;
border-radius: 3rem;
color: #F3603B;
border: none;
margin-right: 10rem;


}
/* Estilos utilizados la footer*/
footer{
display: flex;
flex-direction: column;
background-color: var(--azulMuyOscuro);
align-items: center;

}
.artFooter{
display: flex;
flex-wrap: wrap;
width: 90%;
justify-content: space-between;
margin-top: 1rem;
padding: 0 2rem;
}

.footerseccion1{
display: flex;
flex-direction: column;
min-width: 290px;
width: 30%;

    
}

.footerseccion1 a{
margin: 0rem 0rem 5rem 0rem;

}

.redesSociales{
order:1;
justify-content: space-between;
display: flex;
align-items: center;
height: 135px;

width: 15%;
}
    

.redesSociales a{
justify-content: space-between;

};




.footerSeccion2 ul{
list-style-type: none;
min-width: 145px;
width: 15%;
}
.footerSeccion2 ul a{
list-style-type: none;
text-decoration: none;
color: var(--varianteGrisClaro);
font-weight: 400;
font-size: 0.81em;
}

.footerSeccion2{
    display: flex;
    justify-content: center;
    
}



 footer ul{
list-style-type: none;
text-decoration: none;
color: var(--varianteGrisClaro);
 
 }

 footer ul a{
gap: 2.65em;
text-decoration: none;
list-style-type: none;
text-decoration: none;
color: var(--varianteGrisClaro);
font-weight: 400;
font-size: 1em;
line-height: 30px;

 }


.sEmail{
height: 30px;
margin: 0.5rem;
border: 0;
border-radius: 30px;
}

.copyR{
display: flex;
justify-content: flex-end;
width: 90%;
margin-top: -2.2rem;
}

.copyR p{
font-style: normal;
font-weight: 500;
font-size: 12.5px;
line-height: 18px;
display: flex;
align-items: center;
color: #8C8C94;
}


input[type=submit]{
background-color: var(--rojoBrillante);
width: 3.9rem;
height: 2.6rem;
border-radius: 1.875rem;
color: var(--varianteGrisClaro);
border: none;
    }

    input[type=email]{
border-radius: 1.875rem;
border: none;
padding:0.6rem;
    }


    .redesSociales a i {
color: white;
font-size: 1.25em;
    }
    
    .redesSociales a {
margin: 0rem 0.2rem;
    }
    

    .redesSociales a i:hover {
color: #F3603B;
    }

    header nav ul li a:hover{
        opacity: 50%;
    }
    footer li a:hover{
color: #F3603B;
    }
    .footerSeccion2{
min-width: 290px;
width: 30%;
    }

    .orangebutton:hover{
        opacity: 50%;
        
}
.orangebutton:active{
    transform: scale(.90);
}

.whiteButton:hover{
    opacity: 50%;
    
}
.whiteButton:active{
    transform: scale(.90);
    }





@media (max-width:375px) {

    .navbar{
        display: none;
    }
.navbar .orangebutton{
    display: none;
}
   .burger{
        display: block;
        
    }
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 20px;
        margin-top: 5px;
    }
    header .orangebutton{
        display: none;
    }
    
    .seccion1 {
      flex-direction: column-reverse;
   
    } 
    h1 {
        font-size: 43px;
    align-items: center;
    }
    .seccion1 p {
        width: 85%;
        text-align: center;
    }
    .seccion1 .orangebutton{
      
        margin-left: 80px
    }
    .seccion2 {
    flex-direction: column;
    
  }
  .artBoxes2{
    margin: none;
    justify-content: flex-start;
    width: 100%;

  }

.seccion2 p{
    padding-left: 0em;
}
       .seccion3{
        flex-direction: column;
       }
       .footerSecundario{
        margin: none;
        justify-content: center;
        width: 100%;
       }
       .footerSecundario .whiteButton{
        margin-left: 90px;
       }

      footer {
        display: flex;
        width: 100%;
      }
      .artFooter{
        flex-direction: column-reverse;
      }
      .footerSeccion1{
        flex-direction: column-reverse;
        display: flex;
    }

    
    
    }


   

